<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    </appSettings>
    <connectionStrings>

       <add name="ProtocoloAgilConnectionString" connectionString="Data Source=mssql.mestreagilweb.com.br;Initial Catalog=mestreagilweb1;Persist Security Info=True;User ID=mestreagilweb1;Password=mestre3415" providerName="System.Data.SqlClient" />
   <!--      
      <add name="ProtocoloAgilConnectionString" connectionString="Data Source=AGIL03-PC\SQLEXPRESS;Initial Catalog=FundacaCDL;Persist Security Info=True;User ID=sa;Password=mestre3415;" providerName="System.Data.SqlClient"/> 
   -->
</connectionStrings>
    <system.web>
        <sessionState timeout="15" />
        <httpHandlers>
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                validate="false" />
            <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
        </httpHandlers>
        <httpRuntime executionTimeout="240" maxRequestLength="20480" requestValidationMode="2.0" maxQueryStringLength="30000" />
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </buildProviders>
        </compilation>
        
        <authentication mode="Windows"/>
        <customErrors mode="RemoteOnly" > <!--defaultRedirect="~/pages/ErrorPage.aspx"/-->
            <error redirect="~/pages/ErrorPage.aspx?Erro=000141" statusCode="401"  />
            <error redirect="~/pages/ErrorPage.aspx?Erro=000142" statusCode="403"/>
            <error redirect="~/pages/ErrorPage.aspx?Erro=000143" statusCode="404"/>
            </customErrors>
          <!--  <error redirect="~/pages/ErrorPage.aspx?Erro=000144" statusCode="500"/>-->
      
        <trace localOnly="true" enabled="false"/>
        <httpCookies httpOnlyCookies="true"/>

        <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="3.5" >
            <controls>
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI.DataVisualization.Charting" tagPrefix="asp"/>
                <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
            </controls>
        </pages>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="ChartImageHandler"/>
            <remove name="ReportViewerWebControlHandler"/>
            <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </handlers>
    </system.webServer>
</configuration>